{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"
    <title>Django Go Go Music</title>
</head>
<header>
    <br>
    <a href={% url 'home' %}>Go Home!</a>
    <a href={% url 'create_album' %}>Create An Album!</a>
    <a href={% url 'album_delete' %}>Delete an Album 🥲</a>
</header>
<body>
    


{% block content %}
{% endblock %}
</body>
</html>